<!-- ナビゲーションバー -->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <span class="navbar-brand mb-0 h1">OGIRI</span>
  <div class="room-login_user">
    ログインユーザ：{{userName}}さん
    <input id="userName" type="hidden" value={{userName}}>
  </div>
  <div class="room-exit">
    <input type="button" value="退室する" class="common-button room-exit_button" onclick="exit();">
  </div>
</nav>
<!-- コンテンツ -->
<div class="container">
<div class="row">
  <!-- 大喜利エリア -->
  <div class="mt-5 col-lg-7 col-12 d-flex">
    <!-- お題箱 -->
    <div class="theme py-1" id="theme-area">
        <!-- 矢印アイコン -->
        <div class="show-theme-icon text-center" onclick="closeAnswer();"><i class="fas fa-chevron-right"></i></i></div>
        <!-- section -->
        <section>
        <!-- 投稿一覧 -->
            <div class="line-bc">
                {{#each themes}}
                <div class="balloon1 float-left">
                    <div id={{this.id}}-content>{{this.content}}</div>
                    <br>
                    <input type="button" id={{this.id}} value="回答を見る" class="btn btn-secondary" onclick="openAnswer(this.id);">
                </div>
                <div style="margin-left: auto;">{{this.name}}さんより</div>
                {{/each}}

                <!--ココに投稿したお題が収納-->
                <div class="clearfix theme-threads">
                </div>

            </div>
        </section>
        <!-- section -->
        <!-- 入力エリア -->
        <form method="post" action="/room" id="themeForm" target="saveData">
            <div class="form-row answer-column">
                <div class="theme-message col-9">
                    <input id="message" name="themeText" class="form-control input-sm" placeholder="お題を投稿する">
                </div>
                <div class="room-submit col-3">
                    <input type="hidden" value="" name="uniqueID" id="uniqueID">
                    <input type="button" name="themePublish" value="投稿" id="theme" class="btn btn-warning room-publish_button btn-publish"
                    onclick="publish(this.id);">
                </div>
            </div>
        </form>
    </div>
    <!-- 回答 -->
    <div class="answer py-1" id="answer-area">
      <!-- section -->
      <section>

        <!-- 投稿一覧 -->
        <div class="line-cd">
          <div>
            <div class="clearfix">
              <div class="balloon2 float-left">
                <div id="re-theme"></div>
                <div></div>
              </div>
            </div>
            {{!--  --}}
            <div class="clearfix">
              <br />
                {{!-- データベースから過去のコメントを表示 --}}
                <div id="answer-thread">
                    {{#each answers}}
                    {{!-- お題に合った回答を表示するためのclass（display.js） --}}
                    <div class={{this.theme_id}}>
                      <div class="answer_box balloon3 float-right">
                        {{!-- コメント機能のためのidです --}}
                        <div class="answer_content">{{this.content}}</div>
                        <div class="answer_name">{{this.name}}さんより</div>
                        {{!-- コメントボタン --}}
                        <input type="button" value="コメント" id="" class="answer_button btn btn-light js-modal-open" onclick="giveNumber(); comment(this.id);">
                      </div>
                    </div>
                    {{/each}}
                </div>
                <br />
                <div class="modal js-modal">
                  {{!-- <div class="modal__bg js-modal-close"></div> --}}
                  <div class="modal__content modal-dialog-centered">
                      <form method="post" action="/" id="comment2chatForm" target="saveData">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                            　<span aria-hidden="true">&times;</span> 
                            </button> 
                            <h4 class="modal-title" id="modal-label">ダイアログ</h4> 
                          </div>
                          <div class="modal-body">
                            <div id={{this.id}}-content>{{this.content}}</div>
                            <div id="answer_content">{{this.content}}</div>
                          </div>
                          <div class="modal-footer">
                            <div class="form-row answer-column">
                              <div class="comment2chat-message col-8">
                                <input id="message" name="comment2chatText" class="form-control input-sm" placeholder="回答を投稿する">
                              </div>
                              <div class="room-submit col-2">
                                <input type="button" value="投稿" name="comment2chat" id="comment2chat" class="btn btn-light room-publish_button btn-publish"
                                  onclick="publish(this.id);">
                              </div>
                              <div class="room-submit col-2">
                                <button id="close" class="btn btn-light">閉じる</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  <!--modal__inner-->
                </div>
                <!--modal-->
            </div>
            <!--ココに投稿した回答が収納-->
            <div class="clearfix answer-threads" id="answer-new-thread">
            </div>
        </div>
      </section>
      <!-- section -->
      <!-- 入力エリア -->

      <form method="post" action="/room" id="answerForm" target="saveData">
        <div class="form-row answer-column">
          <div class="answer-message col-9">
            <input type="hidden" value="" name="foreignKey" id="foreignKey"></input>
            <input id="message" name="answerText" class="form-control input-sm" placeholder="回答を投稿する">
          </div>
          <div class="room-submit col-3">
            <input type="button" name="answerPublish" value="投稿" id="answer" class="btn btn-warning room-publish_button btn-publish" onclick="publish(this.id);">
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- /.ogiri-area -->

  <!-- チャットルーム -->
  <div class="mt-5 col-lg-5 col-12">
    <!-- twitter風 -->
    <!-- ▼twitter風ここから -->
    <div class="twitter__container">
      <!-- タイトル -->
      <div class="twitter__title">
        <span class="twitter-logo"></span>
      </div>

      <!-- ▼タイムラインエリア scrollを外すと高さ固定解除 -->
      <div class="twitter__contents scroll">
        <!-- 記事エリア -->
        <div class="twitter__block">
          <div class="twitter__block-text">
            <div class="room-login_user">
            ログインユーザ：{{userName}}さん
            <input id="userName" type="hidden" value={{userName}}>
            </div>
            {{!-- <div class="date">10分前</div> --}}
            <div class="chat-thread">
              <div id="thread">
              </div>
              <br />
              {{!-- データベースから過去のコメントを表示 --}}
              <div id="old-thread">
                {{#each comments}}
                <div>
                  <div>{{this.name}}さん：{{this.content}}{{this.created_at}}</div>
                  {{#if this.answer_content}}
                  <div>{{this.answer_theme}}</div>
                  <div>{{this.answer_content}}</div>
                  <div>{{this.answer_name}}さんより</div>
                  {{/if}}
                {{/each}}
                </div>
              </div>
              <!-- /#old-thread -->
            </div>
          </div>
        </div>
      </div>
      <!-- 入力フォーム -->
      <form method="post" action="/room" id="chatForm" target="saveData">
      <div class="form-row answer-column">
        <div class="chat-message col-7">
          <input type="hidden" name="userName" value={{userName}}>
          <input id="message" name="commentText" class="form-control input-sm" placeholder="コメントを投稿する">
        </div>
        <div class="room-submit col-2 mx-2">
          <input type="button" name="chatPublish" value="投稿" id="chat" class="btn btn-warning room-publish_button btn-publish" onclick="return publish(this.id);">
        </div>
        <div class="room-submit col-2">
          <input type="button" value="メモ" id="chat" class="btn btn-warning room-memo_button"
            onclick="memo(this.id);">
        </div>
      </div>
    </form>
    <!-- 下記iframe消さないで！ -->
    <iframe name="saveData" style="width:0px;height:0px;border:0px;"></iframe>
    </div>
  </div>
  </div>
<!-- /.container -->

  <script src="/javascripts/publish.js"></script>
  <script src="/javascripts/enter.js"></script>
  <script src="/javascripts/memo.js"></script>
  <script src="/javascripts/display.js"></script>
  <script src="/javascript/transit_screen.js"></script>
<script src="/javascripts/socket.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"></script>