
<!-- ナビゲーションバー -->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
<span class="navbar-brand mb-0 h1">OGIRI</span>
<div class="room-login_user">
    ログインユーザ：{{userName}}さん 
    <input id="userName" type="hidden" value={{userName}}>
</div>
<div class="room-exit">
    <input type="button" value="退室する" class="common-button room-exit_button" onclick="exit();">
</div>
</nav>
<!-- コンテンツ -->
<div class="row">
    <!-- お題箱　-->
    <div class="col-md-4">
        <form method="post" action="/">
            <!-- section -->
            <section>
            
              <!-- 投稿一覧 -->
              <div class="line-bc">
                <div>
                  <!--sample文章（完成時には削除）-->
                  <div class="clearfix">
                    <br/>
                    <div class="balloon1 float-left">
                    　完飲したラーメン丼。書かれてて嫌なことは？
                    <br/>
                    <input type="button" value="回答を見る" class="btn btn-secondary" onclick="">
                    </div>
                    <div style="margin-left: auto;">{{userName}}さんより</div>
                  </div>
                  <div class="clearfix">
                    <br/>
                    <div class="balloon1 float-left">
                    　完飲したラーメン丼。書かれてて嫌なことは？
                    <br/>
                    <input type="button" value="回答を見る" class="btn btn-secondary" onclick="">
                    </div>
                    <div style="margin-left: auto;">{{userName}}さんより</div>
                  </div>
                  <div class="clearfix">
                    <br/>
                    <div class="balloon1 float-left">
                    　完飲したラーメン丼。書かれてて嫌なことは？
                    <br/>
                    <input type="button" value="回答を見る" class="btn btn-secondary" onclick="">
                    </div>
                    <div style="margin-left: auto;">{{userName}}さんより</div>
                  </div>
                  <div class="clearfix">
                    <br/>
                    <div class="balloon1 float-left">
                    　完飲したラーメン丼。書かれてて嫌なことは？
                    <br/>
                    <input type="button" value="回答を見る" class="btn btn-secondary" onclick="">
                    </div>
                    <div style="margin-left: auto;">{{userName}}さんより</div>
                  </div>
                  <!--ココに投稿したお題が収納-->
                  <div class="theme-thread">
                    <br/>
                    <div id="thread"></div>
                  </div>
                </div>
              </div>
            </section>
            <!-- section -->
            <!-- 入力エリア -->
            <div class="form-row answer-column">
                <div class="theme-message col-10">
                    <input id="message"  class="form-control input-sm" placeholder="お題を投稿する">
                </div>
                <div class="room-submit col-2">
                    <input type="button" value="投稿" class="btn btn-dark room-publish_button" onclick="publish();">
                </div>
            </div>
        </form>
    </div>
    <!-- 回答　-->
    <div class="col-md-4">
            <form method="post" action="/">
                <!-- section -->
            <section>
            
                <!-- 投稿一覧 -->
                <div class="line-cd">
                  <div>
                    <!--sample文章（完成時には削除）-->
                    <div class="clearfix">
                      <br/>
                      <div class="balloon2 float-left">
                      　完飲したラーメン丼。書かれてて嫌なことは？
                      <br/>
                      </div>
                      <div style="margin-left: auto;">{{userName}}さんより</div>
                    </div>
                    <div class="clearfix">
                        <br/>
                        <div class="balloon3 float-right">
                        　替え玉一杯無料
                        <br/>
                        </div>
                        <div style="margin-left: auto;">{{userName}}さんより</div>
                    </div>
                    <!--ココに投稿したお題が収納-->
                    <div class="answer-thread">
                      <br/>
                      <div id="thread"></div>
                    </div>
                  </div>
                </div>
              </section>
              <!-- section -->
              <!-- 入力エリア -->
              <div class="form-row answer-column">
                  <div class="answer-message col-10">
                      <input id="message"  class="form-control input-sm" placeholder="回答を投稿する">
                  </div>
                  <div class="room-submit col-2">
                      <input type="button" value="投稿" class="btn btn-dark room-publish_button" onclick="publish();">
                  </div>
              </div>
            </form>
    </div>
    <!-- チャットルーム　-->
    <div class="col-md-4">
      <!-- twitter風 -->
      <!-- ▼twitter風ここから -->
      <div class="twitter__container">
        <!-- タイトル -->
        <div class="twitter__title">
          <span class="twitter-logo"></span>
        </div>

        <!-- ▼タイムラインエリア scrollを外すと高さ固定解除 -->
        <div class="twitter__contents scroll">

          <!-- 記事エリア -->
          <div class="twitter__block">
            <div class="twitter__block-text">
              <div class="room-login_user">
                    ログインユーザ：{{userName}}さん
                    <input id="userName" type="hidden" value={{userName}}>
              </div>
              {{!-- <div class="date">10分前</div> --}}
              <div class="chat-thread">
                <br/>
                <div id="thread"></div>
              </div>
            </div>
          </div>
          <!-- 入力フォーム -->
          <form method="post" action="/">
          <div class="form-row answer-column">
              <div class="chat-message col-8">
                  <input id="message"  class="form-control input-sm" placeholder="回答を投稿する">
              </div>
              <div class="room-submit col-2">
                  <input type="button" value="投稿" class="btn btn-dark room-publish_button" onclick="publish();">
              </div>
              <div class="room-submit col-2">
                  <input type="button" value="メモ" class="btn btn-dark room-memo_button" onclick="memo();">
              </div>
          </div>
          </form>
    </div>
</div>

<script src="/javascripts/publish.js"></script>
<script src="/javascripts/memo.js"></script>
<script src="/javascripts/socket.js"></script>
<script src="/socket.io/socket.io.js"></script>